    <h1 class="display-4"><%= title %></h1>
    <p><%= msg %></p>
    <form method="POST" action="/board/delete/<%=data.id %>">
        <p>削除するメッセージ：</p>
    <span class="border border-danger p-1">
        <%=data.message%>"(<%=data.user%>)"
    </span>
        <button type="submit" class="btn btn-secondary">送信</button>
    </form>
<!-- サーバー側に用意された値をクライアント側のJavascriptにわたすもの -->
<%- exposeLocalsToBrowser() %>